<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                  <!--logo-->
                  <div class="navbar-header">
                      <a href="about_us.html" class="navbar-brand">UltimateSounds</a>
                  </div>

           <div>
                  <ul class="nav navbar-nav">
				<li class="active"><a href='/'>Home</a></li>
				        <li><a href='/about_us/'>about us</a></li>
				        <li><a href='/contact_us/'>Contact us</a></li>
                      <li><a href='/our_products/'>our products</a></li>
                  </ul>
                 </div>
                </div>
              </nav>

    <div class="container-fluid">

        <h1>Ultimate Sounds Your One stop shop for Speakers</h1>
        <div class="row">
            <div class="col-md-4" style="background-color: #FF9999">
                <h3> Our services</h3>
                We offer quality speakers and our prices are very good. you cant
                find any price that beats ours.We always test the product before
                any customer leaves with a product just to make sure that the item
                being sold is of the highest Quality. Once you shop with us you will
                not regret the decision.
            </div>
            <div class="col-md-4" style="background-color: #99CCFF">
                  <h3> Our Shops</h3>
                Ultimate sounds is your one stop shop where you can find
                speakers, cabinets and all the necessary peripherals to
                connect your sound system. when you leave our shops you
                can be sure that you will not need to buy any other item
                required for a smooth sound of music.
            </div>
            <div class="col-md-4" style="background-color: #00CC99">
                <h3> Where to find us</h3>
                Our shops are at all malls in the country and you will find
                that all our employees will treat you with the respect that
                you deserve as our esteemed customer. Our main branch is in
                Mombasa road near general motors. In Nairobi cbd our shops
                are next to mt Kenya University.
            </div>
        </div>

    </div>
</body>
</html>