
{%  load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ultimate Sounds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
           <nav class="navbar navbar-default">
              <div class="container-fluid">
                  <!--logo-->
                  <div class="navbar-header">
                      <a href="about_us.html" class="navbar-brand">UltimateSounds</a>
                  </div>
                  <div>
                  <ul class="nav navbar-nav">
				<li class="active"><a href='/'>Home</a></li>
				        <li><a href='/about_us/'>about us</a></li>
				        <li><a href='/contact_us/'>Contact us</a></li>
                      <li><a href='/our_products/'>our products</a></li>
                       <li><a href='/newCars/'>newCars </a></li>

                  </ul>
                 </div>
                </div>
              </nav>





      <div class="container-fluid">
          <div class="col">
              <div class="col-md-2 col-xs-6">

                <img src='{% static "img/pioneer1.jpg" %}' class="img-responsive"/>


               </div>
       </div>

          <div class="row">
              <div class="col-md-2 col-xs-6">

                <img src='{% static "img/pioneer2.jpg" %}' class="img-responsive"/>

               </div>
       </div>








    <h3>OFFER Get Quality speakers at a new 15% discount Offer last while stock last</h3>
     <div class="row">
        <div class="row">
            <div class="col-md-12 col-xs-6" style="background-color: lightblue">
                Great New Quality Speakers at really LOW Prices
                Even Maina Kageni Just bought one. HURRY  now
                and be a renowned owner of a speaker system for
                your car, House, Events, Parties or even for selling.
             </div>
        </div>
     </div>
               <h3 style="text-decoration-color: darkred">Hurry now and get yours </h3>
            <div class="row">
                <div class="col-md-4" style="background-color: lightblue">you want a sound system for your home event,
                   matatu or personal car we got you covered</div>
          </div>
            <div class="row">
            <div class="col-md-4 col-md-offset-2" style="background-color: lightcoral">

                   <p>Curabitur tellus diam, pharetra quis libero sit amet, finibus suscipit diam.
                       Etiam felis dui, fermentum in est congue, tempus efficitur enim. Donec vitae venenatis neque,
                       vel commodo ipsum. Etiam quis tellus tortor. Morbi porttitor tempor mauris in facilisis.
                       Aliquam eget sapien consequat, finibus lectus nec, pulvinar justo. Mauris in consectetur lacus,
                       in luctus turpis. Aenean eget velit ipsum. Sed elit enim, ullamcorper ac orci ac,
                       fringilla interdum est. Praesent nec nisi ultrices lorem ullamcorper congue.
                       Vivamus sed gravida metus, ut auctor nisl. Aliquam sollicitudin fringilla justo id facilisis.</p>
            </div>
          </div>


          <h3>Premium Deals</h3>
    <div class="row">
        <div class="col-md-9" style="background-color: lightseagreen; padding: 30px;">

           Do you want to import a sound system from America, Canada, or even China well you have
            come to the right website.

            <!-- to nest, add a new row (don't exceed 12 columns) -->
            <div class="row">
                <div class="col-md-8" style="background-color: lightblue">
                    Just call this number  07209933074 and you will be guided on how to purchase cool new
                    sound systems
                </div>
                <div class="col-md-4" style="background-color: lightsalmon">
                    we also offer the importation services at very low prices and all our goods arrive at
                    JKIA very safe.
                </div>
            </div>

        </div>
    </div>



           <footer>

		   <div  style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> |
                <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		   </div>

	     </footer>



</div>

</body>
</html>