
<!--check out cards w3school or bootstrap documentation-->


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <nav class="navbar bg-success navbar-expand-md navbar-dark">
     <button class="navbar-toggler" type="button" data-toggle ="collapse"
     data-target id="mynav">
         <span class="navbar-toggler-icon"></span>
     </button>
   <div id="mynav" class="collapse navbar-collapse"
     <ul class="navbar-nav">
         <li class="navbar-item" >
         <a href="" class="navbar-brand">CarHub<a/>
             <li class="navbar-item">
         <a href="" class="navbar-link">Home</a>
         <a href="" class="navbar-link">about us</a>
         <a href="" class="navbar-link">newCars</a>
         <a href="/our_products/" class="navbar-link">our products</a>
         </li>
     </ul>
 </div>
 </nav>
 {% load static %}
 <br>
 <section   class="row container" id="about">
     <div class="col-md-2">

        <img src="{% static '1.jpg' %}" alt =""
        class="img-fluid">
     </div>
     <br>
     <div class="col-md-2">

        <img src="{% static '1.jpg' %}" alt =""
        class="img-fluid">
     </div>
     <div class="col-md-8 text-center">
         <h2>about <span style="color: #856404" > us </span> </h2>
         <p>
         In publishing and graphic design,
             lorem ipsum is a placeholder text
             commonly used to demonstrate the visual form of a
             document without relying on meaningful content. Replacing the
             actual content with placeholder text allows designers to design
             the form of the content before the content itself has been produced.

         </p>

            <p>
In publishing and graphic design,
             lorem ipsum is a placeholder text
             commonly used to demonstrate the visual form of a
             document without relying on meaningful content. Replacing the
             actual content with placeholder text allows designers to design
             the form of the content before the content itself has been produced.

         </p>
         <a href="" class="btn btn-outline-danger">Read More</a>
         <a href=""class="btn btn btn-primary">Read More</a>
         <a href=""class="btn btn btn-secondary">Read More</a>

     </div>

 </section>
 <br>
 <header class="text-center">
     <h2>our <span style="color: #0b2e13 ">products </span></h2>
 </header>
 <br>
 <section class="row">
     <div class="col-md-4">
         <img src="{% static '1.jpg' %}" class="img-fluid">
         <br>

                   <p>
         In publishing and graphic design,
             lorem ipsum is a placeholder text
             commonly used to demonstrate the visual form of a
             document without relying on meaningful content. Replacing the
             actual content with placeholder text allows designers to design
             the form of the content before the content itself has been produced.

         </p>
          <br>
     </div>
     <div class="col-md-4">
         <img src="{% static '1.jpg' %}" class="img-fluid">
         <br>

                   <p>
         In publishing and graphic design,
             lorem ipsum is a placeholder text
             commonly used to demonstrate the visual form of a
             document without relying on meaningful content. Replacing the
             actual content with placeholder text allows designers to design
             the form of the content before the content itself has been produced.

         </p>
          <br>
     </div>
     <div class="col-md-4">
         <img src="{% static '1.jpg' %}" class="img-fluid">
         <br>

                   <p>
         In publishing and graphic design,
             lorem ipsum is a placeholder text
             commonly used to demonstrate the visual form of a
             document without relying on meaningful content. Replacing the
             actual content with placeholder text allows designers to design
             the form of the content before the content itself has been produced.

         </p>
          <br>
     </div>

 </section>

 <section class="">


 </section>


 <footer class="row ">
     <div class="col-md-12 text-center jumbotron">
     <h4>
         &copysr; copyrights ebusiness .All rights reserved
     </h4>
<h5>Designed by edward</h5>
         </div>

 </footer>



<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</body>

</html>