<!DOCTYPE html>
<html lang="en">
<head>
    <title>Our Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
 <nav class="navbar navbar-default">
              <div class="container-fluid">
                  <!--logo-->
                  <div class="navbar-header">
                      <a href="about_us.html" class="navbar-brand">UltimateSounds</a>
                  </div>

           <div>
                  <ul class="nav navbar-nav">
				<li class="active"><a href='/'>Home</a></li>
				        <li><a href='/about_us/'>about us</a></li>
				        <li><a href='/contact_us/'>Contact us</a></li>
                      <li><a href='/our_products/'>our products</a></li>
                  </ul>
                 </div>
                </div>
              </nav>

<h2>This are some of our products</h2>

    <div class="container">

        <h2>Car Speakers</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>size</th>
                    <th>cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>KenWood</td>
                    <td>12</td>
                    <td>8,760</td>
                </tr>
                <tr>
                    <td>Fostage punch</td>
                    <td>13</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>Pioneer </td>
                    <td>18</td>
                    <td>32000</td>
                </tr>
            </tbody>
        </table>

        <h2>Cabinets category</h2>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>shape</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> Box 1</td>
                <td>Box</td>
                <td>sh 2,000</td>
            </tr>
            <tr>
                <td> curve type</td>
                <td>curve</td>
                <td>sh 5000</td>
            </tr>
            <tr>
                <td> hexagonal type</td>
                <td>hexagonal</td>
                <td>sh 32000</td>
            </tr>
            </tbody>
        </table>

        <h2>Wire Category</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>length in metres</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> coaxial</td>
                <td>74 </td>
                <td> sh 760</td>
            </tr>
            <tr>
                <td>copper speaker plugs</td>
                <td>13</td>
                <td>sh 500</td>
            </tr>
            <tr>
                <td>Gold plated plugins</td>
                <td>180</td>
                <td>sh 2000</td>
            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>
